.header__logo-position-left {
  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
  height: 52px;
  width: 176px;
}

@media screen and (max-width: 767px) {
  .header__logo-position-left {
    height: 42px;
    width: 142px;
  }
}
