.footer__links {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__links {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 32px;
  }
}
