.cover {
  margin: 0;
  width: 1184px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 740px;

}

@media screen and (max-width: 1279px) {
  .cover{
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover{
    max-width: 320px;
  }
}