.cover {
  margin: 0;
  width: calc(100% - 2*48px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 740px;
  height: 100%;

}

@media screen and (max-width: 1279px) {
  .cover{
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 10239px) {
  .cover{
    min-height: 480px;
  }
}


@media screen and (max-width: 767px) {
  .cover{
    min-height: 200px;
    max-width: 320px;
  }
}