.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr 460px;
  grid-gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: 1fr 440px;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: auto auto;
    grid-gap: 48px 28px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 320px;
    grid-row-gap: 32px;
    padding-bottom: 50px;
    justify-items: center;


  }
}