.cover__heading {
  max-width: 560px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 245px;
  margin-bottom: 32px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover__heading {
    margin-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__heading {
    margin-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__heading {
    margin-top: 33px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    width: 255px;
  }
}